html
	font-family: $sans-serif
	padding: 0
	color: $darkgray
body
	padding: 0
	height: 100%
	min-height: 100vh
	background-repeat: no-repeat
	margin: 0
	display: grid
	grid-template-rows: 50px 1fr 30px
	grid-template-columns: 20px 1fr 20px
	@media screen and ($medium-small-screens)
		grid-template-columns: minmax(80px, 1fr) minmax(300px, 1200px) minmax(80px, 1fr)
#disqus_thread
	width: 100%		
.main-wrapper
	display: flex
	align-items: center
	justify-content: flex-start
	grid-row: 2
	grid-column: 2
	padding-top: 1rem	
	align-items: flex-start
	flex-flow: column
	margin-bottom: 3rem	
.main-footer
	grid-row: 3
	grid-column: 1/-1
	color: white
	font-size: .9rem
	text-align: center
	display: flex
	justify-content: center
	align-items: center
	.copyright
		padding: 0
		margin: 0

