body.contact	
	+colorThemeRoot($contact-focus-color)
body.contact.section
	+colorThemeSection($contact-focus-color)
	.list-content
		align-items: center
		margin: 0
		height: 100%
		grid-template-columns: 1fr
	.main-footer
		color: $darkgray
	.contact-blurb
		font-weight: bold
		color: $darkgray
		padding: 0
		font-size: 2rem
		margin: 0 auto
		position: relative
		box-sizing: border-box
		@media screen and ($medium-small-screens)
			font-size: 3rem	
		.social-contact-link
			color: white
			text-decoration: none
			border-bottom: 1.5px solid transparent
			transition: border .2s ease-in-out
			&:hover
				border-bottom-color: white
		



