body.organizing
	.main-header
		background: rgba(darken($organizing-focus-color, 10%), .8)
		#menu-toggle
			svg
				fill: $organizing-focus-color !important
				color: $organizing-focus-color !important
body.organizing.section
	background-color: $organizing-focus-color
	background-image: radial-gradient(lighten($organizing-focus-color, 10%),darken($organizing-focus-color, 2%))
body.organizing.single
	#menu-toggle
		background: $organizing-focus-color
		svg
			fill: white !important
			color: white !important
	h1,h2,h3,h4,h5,h6
		color: darken($organizing-focus-color, 20%)
	a
		color: $organizing-focus-color
		&:hover
			color: darken($organizing-focus-color, 10%)
	code
		background-color: rgba($organizing-focus-color, .1)
		border-color: $organizing-focus-color
	blockquote
		border-color: $organizing-focus-color
		background-color: rgba($organizing-focus-color, .1)
		&:before
			color: $organizing-focus-color
		&:after
			color: $organizing-focus-color