body.teaching
	background: $pink
	.main-wrapper
		justify-content: flex-start
	.lesson-description
		margin: 0
	.lesson-asset-list
		padding: 0
		display: flex
		flex-flow: row wrap
		margin: 0
		.lesson-asset
			list-style: none
			margin: 10px 10px 10px 0
			padding: 0
		.lesson-asset-link