body.writing
	background: $purple
	.main-footer 
		color: #cccccc
	.main-wrapper
		align-items: flex-start
		flex-flow: column
	.card
		background: rgba(black, .1)
		margin-bottom: 1rem
		border-radius: 6px
		overflow: hidden
	.card-header
		background: rgba(black, .1)
		padding: 5px 10px
		margin: 0
		.post-title
			color: white
			font-size: .9rem
			padding: 0
			margin: 0
	.card-body
		margin: 0
		padding: 5px 10px
		font-size: .7rem
		display: flex
		justify-content: space-between
		flex-flow: column wrap
		color: white
		.post-description
			margin: 0
		.read-more
			font-size: .55rem
			font-weight: bold
			text-transform: uppercase
			border: 1px solid white
			border-radius: 10px
			padding: 3px 4px
			margin: 1rem 0 .4rem 0
			color: white
			text-align: center
			color: white
			text-decoration: none
			width: 13ch
	.card-footer
		padding: 0 10px 1px 
		color: white
		font-size: .6rem
		border-top: 1px dotted white







