{{ partial "meta.html" . }}
<body class='{{ if .Params.whatspecial }}{{ .Params.whatspecial}}{{end}} {{ .Type }}{{ if .Layout }} {{ .Layout }}{{ else if eq .Kind "page" }} single{{ else if eq .Kind "section" }} section{{ else if eq .Kind "home" }} home{{ else if eq .Kind "taxonomy" }} taxonomy{{ else if eq .Kind "404" }} four-oh-four{{ else if eq .Kind "taxonomyTerm" }} taxonomyTerm{{ else }} standard{{end}}'>
	
	{{ if ne .Kind "404" }}
		{{ partial "main-header.html"}}
	{{ end }}
	<main class='main-wrapper'>
		 {{ block "main-block" . }}
		 {{end}}
	</main>
	{{ partial "footer.html" . }}
	{{ partial "svg-sprite.html" . }}
</body>
