{{ define "main-block"}}
<h1 class="list-page-title">
	{{ .Title }}
	<br>
	<small class="subtitle">{{ .Params.subtitle }}</small>
</h1>
<section class="list-content">

	{{ if eq .Type "writing" }}
		{{ $pag := (.Paginator 10) .Data.Pages }}
		{{ range $pag.Pages }}
			{{ partial "blog-post-card.html" .}}
		{{ end }}
	{{ end }}

	{{ if eq .Type "teaching" }}
		{{ if .Sections }}
		<!-- {{ range  .Sections }}
		{{ partial "talk-post-card.html" . }}
		{{ end }} -->
		{{ $ps := .Paginate .Sections 10}}
{{ range $ps.Pages }}
		{{ partial "talk-post-card.html" . }}
{{ end }}


		{{ end }}
	{{ end }}

	<section class="paginator-wrapper">
		{{ template "_internal/pagination.html" . }}
	</section>


</section>
{{ end }}