{{ define "main-block"}}
{{ if eq .Kind "section" }}
	<h1 class="list-page-title">
		{{ .Title }}
		<br>
		<small class="subtitle">{{ .Params.subtitle }}</small>
	</h1>
{{ end }}

{{ if eq .Kind "taxonomy" }}
	<h1 class="list-page-title">
		{{ if eq .Type "tags" }}Posts tagged {{ .Title }}{{ end }}
		{{ if eq .Type "categories" }}Posts in the {{ .Title }} category  {{ end }}
		{{ if eq .Type "authors" }}Posts written by {{ .Title }}{{ end }}
	</h1>

{{ end }}
<section class="list-content">

<!-- 	{{ if eq .Type "writing" }}
		{{ $pag := (.Paginator 10) .Data.Pages }}
		{{ range $pag.Pages }}
			{{ partial "blog-post-card.html" .}}
		{{ end }}
	{{ end }}

	{{ if eq .Type "teaching" }}
		{{ if .Sections }}
			{{ $ps := .Paginate .Sections 10}}
			{{ range $ps.Pages }}
				{{ partial "talk-post-card.html" . }}
			{{ end }}
		{{ end }}
	{{ end }} -->

<!-- 


I've commented out the previous ranges that differeciated between 'teaching' and 'writing', using a section ranger and a page ranger, respectively. I may be able to use only one to range through them all, though I'd like to save them both as partials or shortcodes or something.



 -->


{{ $pag := (.Paginator 10) .Data.Pages }}
		{{ range $pag.Pages }}
			{{ partial "talk-post-card.html" .}}
		{{ end }}


	{{ if eq .Kind "taxonomy" }}
		{{ $ts := .Paginate .Sections}}
		{{ range .Pages }}
			{{ partial "taxonomy-and-term-card.html" . }}
		{{ end }}
	{{ end }}

	<section class="paginator-wrapper">
		{{ template "_internal/pagination.html" . }}
	</section>


</section>
{{ end }}