{{ define "main-block"}}
{{ if eq .Kind "section" }}
	<h1 class="list-page-title">
		{{ .Title }}
		<br>
		<small class="subtitle">{{ .Params.subtitle }}</small>
	</h1>
{{ end }}

{{ if eq .Kind "taxonomy" }}
	<h1 class="list-page-title">
		{{ if eq .Type "tags" }}Posts tagged {{ .Title }}{{ end }}
		{{ if eq .Type "categories" }}Posts in the {{ .Title }} category  {{ end }}
		{{ if eq .Type "authors" }}Posts written by {{ .Title }}{{ end }}
	</h1>

{{ end }}
<section class="list-content">

	{{ if ne .Kind "taxonomy" }}
		{{ $pag := (.Paginator 10) .Data.Pages }}
		{{ range $pag.Pages }}
		  {{ if ne .Params.ignore "true" }}
				{{ partial "post-card.html" .}}
			{{ end }}
		{{ end }}
	{{ end }}	

	{{ if eq .Kind "taxonomy" }}
		{{ $ts := (.Paginator 15) .Data.Pages}}
		{{ range $ts.Pages }}
			{{ if not .Params.dupe }}
			{{ partial "taxonomy-and-term-card.html" . }}
			{{ end }}
		{{ end }}
	{{ end }}

	<section class="paginator-wrapper">
		{{ template "_internal/pagination.html" . }}
	</section>


</section>
{{ end }}