{{ define "main-block"}}

	<h1 class="list-page-title">
		{{if eq .Type "andmore"}}And More{{ else }} {{ .Title }} {{ end }}
		<br>
		<small class="subtitle">{{ .Params.subtitle }}</small>
	</h1>

<section class="list-content">


	{{ $ss := append .CurrentSection.Pages .CurrentSection.Sections}}
	{{ $pag := .Paginate $ss 10}}
			{{ range $pag.Pages.ByDate.Reverse }}
				{{ if not .Params.ignore }}
					{{ partial "post-card.html" . }}
				{{ end }}
			{{ end }}

	<section class="paginator-wrapper">
		{{ template "_internal/pagination.html" . }}
	</section>


</section>
{{ end }}