<article class="card">
	<header class="card-header">
		<h1 class="post-title">{{ .Title }}</h1>
	</header>
	<section class="card-body">
		<p class="post-description">
			{{ .Summary | truncate 100 }}
		</p>
		<a href="{{ .Permalink }}" class="action-button read-more">Read More »</a>
	</section>
	<footer class="card-footer">
		<p class="post-meta">
			{{ with .Params.authors }}
		<ul class="author-names">
			{{ range . }}
			<li>{{ . }}</li>
			{{ end }}
		</ul>
		{{ end }}
		&bull;
			<time>{{ dateFormat (default "Jan 2, 2006" .Site.Params.dateFormat) .Date }}</time>
		</p>
	</footer>
</article>
