<header class="main-header">
	<button id="menu-toggle" class="menu-toggle">
		<svg>
			<use href="#menu" />
		</svg>
	</button>
	<div class="menu-wrapper" id="main-mini-menu">
		<nav class="main-nav">
			<a href="#" class="main-nav-link">Home</a>
			<a href="#" class="main-nav-link">Teaching</a>
			<a href="#" class="main-nav-link">Organizing</a>
			<a href="#" class="main-nav-link">Writing</a>
			<a href="#" class="main-nav-link">Creating</a>
		</nav>
	</div>
	<div class="menu-wrapper" id="main-max-menu">
		<nav class="main-nav">
			<a href="#" class="main-nav-link">Home</a>
			<a href="#" class="main-nav-link">Teaching</a>
			<a href="#" class="main-nav-link">Organizing</a>
			<a href="#" class="main-nav-link">Writing</a>
			<a href="#" class="main-nav-link">Creating</a>
		</nav>
	</div>
</header>