<article class="cards">
	<figure class="card-image-wrapper">
		<img src='{{ range first 1 (after 1 (.Resources.ByType "image")) }}{{.Permalink}}{{end}}' alt="{{.Title}}" class="card-image">
	</figure>
	<section class="post-info">
		<h1 class="post-title">
			<a href="{{.Permalink}}">{{ .Title }}</a>
		</h1>
		<section class="post-meta">
			<ul class="authors">
				{{range .Params.authors }}
					<li class="author"><a href="{{ . | relURL }}">{{.}}</a></li>
				{{end}}
			</ul>
			
			{{ dateFormat (default "Jan 2, 2006" .Site.Params.dateFormat) .Date }}
		</section>
	</section>
</article>