<header class="post-header">
	<h1 class="post-title">
		{{ .Title }}
		{{ if isset .Params "subtitle" }}
		<small class="post-subtitle">{{ .Params.subtitle }}</small>
		{{ end }}
	</h1>
  {{ if not .Params.nometa}}
	<section class="post-meta">
		{{ with .Params.authors }}
    <ul class="authors-list">
      {{range .}}
      <li class="author"><a href="/authors/{{ . | urlize }}">{{ . }}</a></li>
      {{end}}
    </ul>
    {{ end }} 

    &bull; 

    <time>{{ dateFormat (default "Jan 2, 2006" .Site.Params.dateFormat) .Date }}</time>
    <section class="post-taxonomies">
      {{ if isset .Params "categories"}}
      <br>
      Category: {{ with .Params.categories }}
      <ul class="taxonomy-list categories-list">
        {{range .}}
        <li class="taxonomy-item"><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
        {{end}}
      </ul>
      {{ end }} 
      {{ end }}
      
      {{ if isset .Params "tags"}}
      <br>
      Tags: {{ with .Params.tags }}
      <ul class="taxonomy-list tags-list">
        {{range .}}
        <li class="taxonomy-item">
          <a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
        {{end}}
      </ul>
      {{ end }} 
      {{ end }}
    </section>
  {{end }}
  </section>

</header>
