<a 
	class="result"
	target='{{ if .Params.external }}_blank{{else}}_self{{ end }}'  
	href='{{ if .Params.external }}	{{ .Params.external }}{{ else if .Params.internal}}	{{ .Params.internal }}{{ else }}	{{ .Permalink }}{{ end }}'>
	<h2 class="result-title">
		<span class="what">{{ if eq .Type "writing" }}Blog Post{{ else if eq .Type "andmore" }}Community Event{{else}}{{ .Params.what }}{{end}}:</span> {{ .Title }}
	</h2>
	<p class="result-summary">{{.Summary | truncate 100}}</p>
	<footer class="result-footer">
		<p class="result-meta">
		{{ with .Params.authors }}
		<ul class="author-names">
			{{ range . }}
			<li>{{ . }}</li>
			{{ end }}
		</ul>
		{{ end }}
		&bull;
		<time>{{ dateFormat (default "Jan 2, 2006" .Site.Params.dateFormat) .Date }}</time>
	</p>
	</footer>
</a>