{{ define "main-block"}}



	
	<div class="content-wrapper home-content-wrapper">
		<img src="https://loremflickr.com/500/500/woman" alt="Photo of Keisha S Perkins" class="headshot">
		<span >
			<p class="description">
  Keisha S Perkins is a freelance designer and developer who <a class='activity-link' href="/page/teaching">teaches</a> and <a href="/page/organizing" class="activity-link">organizes</a> in her community, and <a class='activity-link' href="/page/writing">writes</a> and <a class='activity-link' href="/page/creating">creates</a> for the web.
			</p>
		</span>
		<ul class="social-links">
			
		</ul>
	</div>




{{ end }}
